<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
    <title>Document</title>
</head>
<body class="bg-gray-300 min-h-screen font-sans">
    <nav class="shadow-xl dark:bg-orange-500">
        <section class="mx-auto px-4 sm:px-6 lg:px-8 relative z-10">
            <section class="flex justify-center gap-x-15.5 text-2xl items-center h-16">
                <a href="{{ url_for('home') }}" class="text-gray-700 dark:border-b-4 hover:shadow-xl rounded-md font-medium transition duration-200">
                        Home
                    </a>
                    <a href="{{ url_for('home') }}" class="text-gray-700 dark:border-b-4 hover:shadow-xl font-medium transition duration-200">
                        Dashboard
                    </a>
                    {% if current_user.is_authenticated %}
                        <div class="flex items-center space-x-2" >
                             <span class="text-sm text-gray-500 hidden lg:inline">Hello, {{ current_user.username }}</span>
                            <a href="{{ url_for('security.logout') }}" class="text-gray-700 dark:border-b-4 hover:shadow-xl font-medium transition duration-200">
                                Logout
                            </a>
                        </div>
                    {% else %}
                        <a href="{{ url_for('security.login') }}" class="text-gray-700 dark:border-b-4 hover:shadow-xl text-md font-medium transition duration-200">
                            Login / Register
                        </a>
                    {% endif %}
            </section>
        </section>
    </nav>
    {% block body %}{% endblock %}
    
</body>
</html>