{% extends "navbar.html" %}
{% block body %}
<section class='px-3'>
    <section class='bg-white p-8 rounded-xl shadow-2xl mx-auto max-w-lg my-25'>
        <h2 class='text-center text-4xl mb-10'>Create new task</h2>
        <form method='post' action="{{ url_for('dashboard') }}" name='create_task' class='flex flex-col items-center'>
            <section class='grid grid-cols-2 gap-x-13.5'>
                {{ form.csrf_token }}
                <section>
                    {{ form.title.label(class="block text-sm font-medium text-gray-700 mb-1") }}
                    {{ form.title(class="w-full p-1.5 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 mb-6") }}
                    {{ form.description.label(class="block text-sm font-medium text-gray-700 mb-1") }}
                    {{ form.description(class="w-full p-1.5 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 mb-6") }}
                </section>
                <section>
                    {{ form.due_date.label(class="block text-sm font-medium text-gray-700 mb-1") }}
                    {{ form.due_date(class="w-full p-1.5 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 mb-6") }}
                    {{ form.status.label(class="block text-sm font-medium text-gray-700 mb-1") }}
                    {{ form.status(class="w-full p-1.5 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 mb-6") }}
                </section>
            </section>
            <button type='submit'  class='w-3xs bg-blue-600 hover:bg-blue-700 text-white font-bold py-3 px-4 rounded-lg transition duration-200 shadow-lg mt-6'>Create</button>
        </form>
    </section>

    
    <h3 class='text-center text-4xl mb-15'>Tasks</h3>
    
    <section class='grid grid-cols-6 gap-2 md:gap-15 mt-10 pb-10 '>
            {% for task in tasks %}
                {% if task.status == 'To Do' %}
                    <section class='dark:bg-yellow-600 p-3 flex-1 rounded-xl min-w-1 shadow-2xl'>
                        <ul class='list-none'>
                            <li class='my-2 border-2 border-gray-300 p-1 rounded-md max-w-svw hover:border-white hover:scale-105 transition-discrete ease-in-out'>
                                <ul class='overflow-clip'>
                                    <li class='font-bold'>{{task.title}}</li>
                                    <li>Due: {{ task.due_date }}</li>
                                    <li>{{ task.description }}</li>
                                </ul>
                            </li>
                        </ul>
                    </section>
                {% endif %}

                {% if task.status == 'In Progress' %}
                    <section class='dark:bg-blue-300 p-3 flex-1 rounded-xl min-w-1 shadow-2xl'>
                        <ul class='list-none'>
                            <li class='my-2 border-2 border-gray-300 p-1 rounded-md max-w-svw hover:border-white hover:scale-105 transition-discrete ease-in-out'>
                                <ul class='overflow-clip'>
                                    <li class='font-bold'>{{task.title}}</li>
                                    <li>Due: {{ task.due_date }}</li>
                                    <li>{{ task.description }}</li>
                                </ul>
                            </li>
                        </ul>
                    </section>
                {% endif %}

                {% if task.status == 'Completed' %}
                    <section class='dark:bg-green-300 p-3 flex-1 rounded-xl min-w-1 shadow-2xl'>
                        <ul class='list-none'>
                            <li class='my-2 border-2 border-gray-300 p-1 rounded-md max-w-svw hover:border-white hover:scale-105 transition-discrete ease-in-out'>
                                <ul class='overflow-clip'>
                                    <li class='font-bold'>{{task.title}}</li>
                                    <li>Due: {{ task.due_date }}</li>
                                    <li>{{ task.description }}</li>
                                </ul>
                            </li>
                        </ul>
                    </section>
                {% endif %}
            {% endfor %}

    </section> 
</section>
{% endblock %}