{% extends "navbar.html" %}
{% block body %}
<section class='pt-24 pb-10 flex flex-col justify-center items-center min-h-screen'>
    <section class='flex flex-col justify-center items-center px-6 text-2xl md:text-3xl lg:text-4xl font-bold text-gray-800 mb-8 text-center'>
        <p>Welcome to your daily</p>
        <p>Task Manager :)</p>
    </section>
    <section class='max-w-xs md:max-w-md lg:max-w-3xl px-4'>
        <img src="{{url_for('static', filename='schedule.svg')}}" alt="Schedule image" class="w-full h-auto">
    </section>
</section>
{% endblock %}